<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/leenuu/Custom-Claude-Notchi/main/docs/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>vkbhVaCjGG4orsuo0KJ+tYDl9O9C8aNuf4nYiS+6b3M=</string>
</dict>
</plist>
